.button {
  display: block;
  font-size: 14px;
  line-height: 18px;
  color: @promo-text-color;
  text-decoration: none;
  background-color: @bg-leaf;
  text-align: center;
  text-transform: @font-type;

  &--show-all {
    color: @text-color;
    background-color: @bg-white-three;
  }
}
