.catalog-main__wrapper {
  .wrapper-mobile;
}

.catalog-main__headline {
  font-size: 36px;
  line-height: 60px;
  color: @headline-color;
}

@media (min-width: @tablet-width) {
  .catalog-main__wrapper {
    width: @tablet-wrapper;
  }
}

@media (min-width: @desktop-width) {
  .catalog-main__wrapper {
    width: @desktop-wrapper;
  }
}
