.none-style () {
  list-style: none;
  margin: 0;
  padding: 0;
}

.h2-headline () {
  font-size: 36px;
  line-height: 60px;
  color: @headline-color;
}

.h3-headline () {
  font-size: 24px;
  line-height: 37px;
  color: @headline-color;
  text-transform: @font-type;
}

.description () {
  font-size: 14px;
  line-height: 18px;
  color: @text-color;
}

.wrapper-mobile () {
  width: 280px;
  margin: 0 auto;
}
