.page-main__wrapper {
  width: 100%;
  background-image: linear-gradient(#68b738 63.3%, #ffffff 36.7%);
}

.page-main__line {
  display: none;
}

@media (min-width: @tablet-width) {
  .page-main__wrapper {
    width: @tablet-wrapper;
    background-image: none;
    margin: 0 auto;
  }

  .page-main__line {
    border: none;
    background-color: #cdcdcd;
    color: #cdcdcd;
    height: 1px;
  }
}

@media (min-width: @desktop-width) {
  .page-main__wrapper {
    width: 100%;
    padding-top: 30px;
    background-image: linear-gradient(90deg, #ffffff 50%, #68b738 50%);
  }
}
