.promo {
  background-image: url("../img/index-can-mobile@1x.png"), url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position-y: 170px, 0;
  background-position-x: 50%, 50%;
}

.promo__headline {
  font-size: 30px;
  line-height: 36px;
  color: @promo-text-color;
  width: 245px;
  margin: 0 auto;
  text-align: center;
}

.promo__call {
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: @promo-text-color;
  text-transform: @font-type;
}

.promo__button {
  margin-top: 340px;
  margin-right: auto;
  margin-left: auto;
  width: 280px;
}

@media (min-width: @tablet-width) {
  .promo {
    background-image: url("../img/index-can-tablet@1x.jpg");
    padding-bottom: 610px;
  }

  .promo__headline {
    font-size: 60px;
    line-height: 60px;
    color: @headline-color;
    margin: 0;
    text-align: left;
  }

  .promo__call {
    font-size: 20px;
    line-height: 20px;
    color: @headline-color;
    text-align: left;
  }

  .promo__button {
    margin-top: 10px;
    margin-right: auto;
    margin-left: 0;
    width: 245px;
  }
}

@media (min-width: @desktop-width) {
  .promo {
    background-image: url("../img/index-can-desktop@1x.png"), url("../img/index-background-desktop@1x.jpg");
    background-repeat: no-repeat, no-repeat;
    background-position-x: 570px, right;
    background-position-y: 140px, 0;
    padding: 1px;
    padding-bottom: 200px;
  }

  .promo__headline {
    margin-top: 240px;
    width: 440px;
  }

  .promo__headline,
  .promo__call,
  .promo__button {
    margin-left: 190px;
  }
}
