.social__list {
  .none-style;
  .wrapper;
  display: flex;
  border-bottom: 1px solid @border-color;
  border-top: 1px solid @border-color;
  padding-top: 21px;
  padding-bottom: 20px;
  margin-bottom: 19px;
}

.social__link {
  display: block;

  &--vkontakte {
    width: 22px;
    height: 12px;
    margin-left: 70px;
  }

  &--instagram {
    width: 16px;
    height: 16px;
    margin-left: 38px;
  }

  &--facebook {
    width: 10px;
    height: 19px;
    margin-left: 40px;
  }
}

.social__icon {
  &--vkontakte {
    width: 22px;
    height: 12px;
    fill: #666666;

    &:hover {
      fill: @bg-leaf;
    }

    &:active {
      fill: rgba(104, 183, 56, 0.3);
    }
  }

  &--instagram {
    width: 16px;
    height: 16px;
    fill: #666666;

    &:hover {
      fill: @bg-leaf;
    }

    &:active {
      fill: rgba(104, 183, 56, 0.3);
    }
  }

  &--facebook {
    width: 10px;
    height: 19px;
    fill: #666666;

    &:hover {
      fill: @bg-leaf;
    }

    &:active {
      fill: rgba(104, 183, 56, 0.3);
    }
  }
}

@media (min-width: @tablet-width) {
  .social__list {
    width: 300px;
    border: none;
    margin: 0;
    align-items: center;
  }

  .social__item {
    margin-right: 4px;
  }

  .social__link {
    display: block;

    &--vkontakte {
      width: 30px;
      height: 16px;
      margin-left: 102px;
    }

    &--instagram {
      width: 23px;
      height: 23px;
      margin-left: 25px;
    }

    &--facebook {
      width: 14px;
      height: 28px;
      margin-left: 24px;
    }
  }

  .social__icon {
    &--vkontakte {
      width: 30px;
      height: 16px;
    }

    &--instagram {
      width: 23px;
      height: 23px;
    }

    &--facebook {
      width: 14px;
      height: 28px;
    }
  }
}
