.social__list {
  .none-style;
  .wrapper;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #cdcdcd;
  border-top: 1px solid #cdcdcd;
  margin-bottom: 11px;
}

.social__item {
  margin: 23px;
  margin-right: 15px;
}

.social__link {
  display: block;

  &--vkontakte {
    background-image: url("../img/icon-vk-mobile.svg");
    background-repeat: no-repeat;
    width: 22px;
    height: 12px;
  }

  &--instagram {
    background-image: url("../img/icon-insta-mobile.svg");
    background-repeat: no-repeat;
    width: 17px;
    height: 17px;
  }

  &--facebook {
    background-image: url("../img/icon-fb-mobile.svg");
    background-repeat: no-repeat;
    width: 10px;
    height: 19px;
  }
}

@media (min-width: @tablet-width) {
  .social__list {
    width: 300px;
    border: none;
    margin: 0;
  }

  .social__item {
    margin-right: 4px;
  }

  .social__link {
    display: block;

    &--vkontakte {
      width: 30px;
      height: 16px;
    }

    &--instagram {
      width: 23px;
      height: 23px;
    }

    &--facebook {
      width: 14px;
      height: 28px;
    }
  }
}
