@headline-color: #111111;
@text-color: #444444;
@promo-text-color: #ffffff;
@bg-white-three: #f2f2f2;
@bg-leaf: #68b738;
@border-color: rgba(205, 205, 205, 0.5);
@font-type: uppercase;
@tablet-width: 768px;
@desktop-width: 1300px;
@mobile-wrapper: 280px;
@tablet-wrapper: 710px;
@tablet-wrapper--form: 630px;
@desktop-wrapper: 1220px;
@retina-dpi: 144dpi;
@retina-dppx: 1.5dppx;
